p{
  text-align: justify;
}

h2{
  text-align:center;
  color: cadetblue;
}

.container{
  width: 80%;
}

.main-navigation{
  padding: 30px 15px;

}

.jumbotron {
  margin-top: 50px
}

.glyphicon{
 font-size: 3.5em;
 text-align: center;

 display: block;
}

.glyphicon-globe{
  color: forestgreen;
}

.glyphicon-tree-conifer {
  color: limegreen;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
  border-color: #222;
}

.cold{
  min-height: 450px;
  width: auto;
}
.jumbotron {
text-align: center;
background-color: #4dffdc;
min-height: 600px;

}

.carousel-inner{
  
  margin-top: auto;
  /*background-color: red;*/
}
