

p{
  text-align: justify;
}

h2{
  text-align:center;
  color: cadetblue;
  transition: 2s;
}

h2:hover {

  color: orange;
  cursor: pointer;
}

.glyphicon:hover {
  font-size: 4.5em;
  color: tomato;
  cursor: wait;
}

.container{
  width: 80%;
}

.main-navigation{
  padding: 30px 15px;

}

.jumbotron {
  margin-top: 50px
}

.glyphicon{
  transition: .5s;
 font-size: 3.5em;
 text-align: center;

 display: block;
}

.glyphicon-globe{
  color: forestgreen;
}

.glyphicon-tree-conifer {
  color: limegreen;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
  border-color: #222;
}

.cold{
  min-height: 450px;
  width: auto;
  border-radius: 5px 700px 5px;
}
.jumbotron {
text-align: center;
background-color: #4dffdc;
min-height: 600px;

}

.carousel-inner{
  margin-top: auto;
}

.btn{
  margin-bottom: 10px;
  padding-top: 7px;
}

.img-responsive {
  border-radius: 5px 20px 5px;
}
